
pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
Flask
dill
























































































































































































#-e . when we use this i am geting error
# after using this  pip install -r requirements.txt 
#we use python setup.py egg_info to create mlproject.egg-info